test.fasta
test-cases/total_input-ID.fasta
test-cases/COI_mICOIintF_jgHCO2198-subset-ID.fasta
test-cases/test-case-PR1-90prcnt/bowtie_align_mico_103569.sam
test-cases/test-case-PR1-90prcnt/COI_mICOIintF_jgHCO2198-subset-ID.fasta
test-cases/test-case-PR1-90prcnt/test-mbt/total_primer.tsv
test-cases/test_primer_map.fasta
test-cases/no_tx/ntx.sam
!test-micointf-mil/coi_micointf_mil.fasta
!test-micointf-mil/final_output_interclst_TEST.tsv
./test-cases/total_input-ID.fasta
test-micointf-full/*
test-micointf-mil/
dist/*
src/catnip_seq.egg-info/*
src/__pycache__/*
__pycache__/*
.pytest_cache/*