total_input-ID.fasta
total-input-clust.clstr
mico-90/bowtie_align_mico_103569.sam
mico-90/COI_mICOIintF_jgHCO2198-subset-ID.fasta
mico-90/test-mbt/total_primer.tsv
test_files/total_input-ID.fasta
test_files/COI_mICOIintF_jgHCO2198-subset-ID.fasta
test_files/test_primer_map.fasta
test-case-PR1-90prcnt/bowtie_align_mico_103569.sam
test-case-PR1-90prcnt/COI_mICOIintF_jgHCO2198-subset-ID.fasta
test-case-PR1-90prcnt/test-mbt/total_primer.tsv
test_files/total_input-ID.fasta
test_files/COI_mICOIintF_jgHCO2198-subset-ID.fasta
test_files/test_primer_map.fasta
test-case-PR1-90prcnt/bowtie_align_mico_103569.sam
test-case-PR1-90prcnt/COI_mICOIintF_jgHCO2198-subset-ID.fasta
test-case-PR1-90prcnt/test-mbt/total_primer.tsv
test_files/total_input-ID.fasta
test_files/COI_mICOIintF_jgHCO2198-subset-ID.fasta
test_files/test_primer_map.fasta
test-case-PR1-90prcnt/bowtie_align_mico_103569.sam
test-case-PR1-90prcnt/COI_mICOIintF_jgHCO2198-subset-ID.fasta
test-case-PR1-90prcnt/test-mbt/total_primer.tsv
test.fasta
